/.mc-lists.el
/.private.el
.sx/
auto-save-list
elpa
/hgs-cache
/recentf
/saveplace.el
semanticdb
session.*
*.el
*.el~
/.session
*~
/bookmarks
/history
/tramp
/url/cache/
.cask/
/projectile-bookmarks.eld
*.cache
